{% extends "base.html" %}
{% block title %}Mudar Senha{% endblock %}
{% block content %}
<h1>Mudar Senha</h1>
<form method="post">
  <div class="form-group">
    <label for="old_password">Senha Atual</label>
    <input type="password" class="form-control" id="old_password" name="old_password" required>
  </div>
  <div class="form-group">
    <label for="new_password">Nova Senha</label>
    <input type="password" class="form-control" id="new_password" name="new_password" required>
  </div>
  <button type="submit" class="btn btn-primary">Alterar Senha</button>
</form>
<div class="footer">
  &copy; {{ current_year }} Projeto Vigor Afastados.
</div>
{% endblock %}