{% extends "base.html" %}
{% block title %}Entrar{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title text-center">Entrar</h1>
                    <form method="post">
                        <div class="form-group mb-3">
                            <label for="username">Usuário</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <div class="d-grid mb-3">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>

                    

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/Vigorr.jpg') }}");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .card {
        background: rgba(255, 255, 255, 0.8);
    }

</style>

<div class="footer">
    &copy; {{ current_year }} Projeto Vigor Afastados.
</div>



{% endblock %}